.profile {
    background-image: url("../!images/background-for-login-and-register.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    user-select: none;
}

.profile_data {
    height: 700px;
    width: 600px;
    justify-content: center;
    text-align: center;
    position: relative;
    display: block;
    left: 50%;
    right: 50%;
}

.profile_icon {
    height: 200px;
    width: 200px;

}
.profile_info {
    display: flex;
    font-size: large;
    font-weight: 600;
}