.Login {

    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}