.Register {
    height: 100vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-image: url('../!images/background-for-login-and-register.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Register form {
    text-align: right;
}