.Register {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Register form {
    text-align: right;
}